:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light;
  color: #213547;
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root.dark {
  color-scheme: dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  --ia-theme-primary-background-color: #242424;
  --ia-theme-secondary-background-color: #1e1e1e;
  --ia-theme-primary-text-color: rgba(255, 255, 255, 0.87);
  --ia-theme-secondary-text-color: #a0a0a0;
  --ia-theme-link-color: #4b64ff;
  --ia-theme-primary-cta-fill: #4b64ff;
  --ia-theme-primary-cta-text-color: #ffffff;
}

a {
  font-weight: 500;
  color: var(--ia-theme-link-color);
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

body {
  margin: 1rem;
  min-width: 320px;
  min-height: 100vh;
}
